{% extends "base.html" %}

{% block head_title%}
 home
{% endblock head_title%}
{% block content %}

<h1> Hello world <h1>
<div id= "tweets">
Replace me
</div>




<script>
const tweetsElement = document.getElementById("tweets")
tweetsElement.innerHTML = 'Loading...'


{% comment %} 
var elem2 = "<h1> hi2 </h1>"
var elem3 = "<h1> hi3 </h1>"
tweetsElement.innerHTML = elem1 + elem2 + elem3
 {% endcomment %}

function LikeBtn(){
    return "<button class='btn btn-primary'>Like</button>"
}


function formatTweetElement(tweet){
    var formattedTweet = "<div class='mb-5 tweet' id ='tweet-" + tweet.id + "'><p>" + tweet.content + 
    LikeBtn()+ 
    "</p></div>" 
    return formattedTweet 
}

const xhr = new XMLHttpRequest()
const method = 'GET'  //"POST"
const url = "/tweets"
const responseType = "json"
xhr.responseType = responseType

xhr.open(method,   url)
xhr.onload = function() {
    const serverResponse = xhr.response
    var ListItems = serverResponse.response
    var finalTweetStr = ""
    var i;
    for(i = 0; i<ListItems.length;i++){
       

        var tweetObj = ListItems[i]

        var currentItem =  formatTweetElement(tweetObj )
        finalTweetStr += currentItem

    }
  tweetsElement.innerHTML = finalTweetStr

    //console.log(ListItems)
    //console.log(xhr.response)
}
xhr.send()
</script>

{% endblock content %}